.navbar {
    position: fixed;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
    color: #000080;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
}

.hidden {
    display: none;
}

.navbar-logo-text {
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    white-space: nowrap;
    cursor: pointer;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 75px;
    /* Adjusted to not overlap with the navbar */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1001;
}

.mobile-item {
    cursor: pointer;
    padding: 24px 0;
    font-size: 36px;
}

.navbar-option {
    padding: 0 8px;
    cursor: pointer;
}

.navbar-option,
.mobile-item {
  text-decoration: none;
  color: inherit; /* Inherit the parent color */
}

.navbar-option:visited,
.mobile-item:visited {
  color: inherit;
}

.social-icons-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-right: 5px;
    top: 35%;
    left: 0;
}

.social-icons-item {
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -100px;
    transition: margin-left 0.3s;
    padding: 15px;
}

.social-icons-item:hover {
    margin-left: -10px;
}

.linkedin {
    background-color: #3675b2;
}

.github {
    background-color: #333333;
}

.email {
    background-color: #76BB75;
}

.resume {
    background-color: #808080;
}

.social-icons-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-decoration: none;
}


@media (min-width: 768px) {
    .navbar-options {
        display: flex;
        justify-content: center;
    }

    .hamburger-container {
        display: none;
    }

    .social-icons-container {
        display: flex;
    }
}

@media (max-width: 768px) {
    .mobile-item {
        display: block;
    }

    .hamburger-container {
        display: block;
        margin-right: 10px;
        z-index: 10;
        cursor: pointer;
    }

    .navbar-options {
        display: none;
    }

    .social-icons-container {
        display: none;
    }
}