.projects-header-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.header-container {
    text-align: left;
    padding-bottom: 2rem;
}

.projects-header {
    font-size: 32px;
    display: inline;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #000080;
    color: #5C6380;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
}

.project-card {
    background-color: rgba(229, 231, 234, 0.5);
    max-width: 480px;
    border-radius: 15px;
    padding: 1.2rem 1rem;
}

.project-card img {
    width: 100%;
    height: 100%;
    height: auto;
}

.project-title {

}

.project-details {

}

.project-btns {

}
